/* Fonts */

@font-face {
  font-family: tesla;
  src: url("/fonts/TESLA.ttf");
}

@font-face {
  font-family: title;
  src: url("/fonts/pigarnos-neue-regular.ttf");
}

@font-face {
  font-family: boldFont;
  src: url("/fonts/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: lightFont;
  src: url("/fonts/DarkerGrotesque-Light.ttf");
}

@font-face {
  font-family: mediumFont;
  src: url("/fonts/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("/fonts/DarkerGrotesque-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
*::selection {
  background-color: black;
  color: #fff;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}
body:has(.icey_modal.icey_active) {
  overflow-y: hidden;
  padding-right: var(--scrollbar_width);
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set to the desired background color */
}

/* Customize scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust handle color and transparency */
  border-radius: 3px; /* Adjust border radius to match the design */
}

/* Optionally, add hover and active styles */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 35, 35, 0.7); /* Adjust handle color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 1); /* Adjust handle color on active state */
}

.inline-block {
  position: relative;
  display: inline-block;
}

/* Main css start */

#main {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Page1 start */

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: regularFont;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  padding-top: 1vw;
  z-index: 9;
}

nav > h1 {
  font-family: tesla;
  font-weight: 100;
  font-size: 1.4vw;
  letter-spacing: 6px;
}

.nav-right {
  gap: 2vw;
  height: 3vw;
  width: 3vw;
  padding: 0.4vw;
}
#open-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
}
#open-container .op-line {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  border-radius: 10px;
}

#cursor {
  position: fixed;
  z-index: 999;
  width: 3vw;
  height: 3vw;
  background-color: #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

#menu-page {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  display: none;
  opacity: 0;
}
#menu-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 3vw;
  padding-top: 1vw;
}
#menu-nav h1 {
  font-family: tesla;
  font-weight: 100;
  font-size: 1.4vw;
  letter-spacing: 6px;
  color: #fff;
}

#menu-nav-rt {
  height: 3vw;
  width: 3vw;
  padding: 0.4vw;
  cursor: pointer;
}
#close-container {
  position: relative;
  height: 100%;
  width: 100%;
}
#close-container #cl-line1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 0%;
  width: 10%;
  background-color: #fff;
}
#close-container #cl-line2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 0%;
  width: 10%;
  background-color: #fff;
}

#wheel {
  position: absolute;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) rotate(0) scale(1.2);
  bottom: -65vh;
  height: 110vh;
  width: 110vh;
}
#wheel #tier {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 0.3;
}
#wheel .mtxt{
  opacity: .2;
}
#wheel .mtxt1{
  opacity: 1;
}
#contactus{
  position: absolute;
  top: -10.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
}
#aboutus {
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translateY(-50%) rotate(-93deg);
  width: 69%;
}
#locateus {
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translateY(-50%) rotate(90deg);
  width: 69%;
}

#event {
  position: absolute;
  bottom: -10.5%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 75%;
}

.page1-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #0000003d;
}

.page1-overlay > video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.page1-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  height: 100%;
  backdrop-filter: blur(40px);
}

.page1-hero {
  position: relative;
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1-hero-text-vehicle {
  position: relative;
}

.page1-hero-text-vehicle > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-hero-text-energy {
  position: relative;
}

.page1-hero-text-energy > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-hero-text-charging {
  position: relative;
}

.page1-hero-text-charging > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-vehicle {
  border-right: 2px solid #ffffff2c;
}

.page1-charging {
  border-left: 2px solid #ffffff2c;
}

/* Page1 end */

/* Page2 start */

#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

.page2-imgs {
  position: relative;
  height: 300vh;
  width: 45%;
  background-color: #000;
  overflow: hidden;
}

.page2-img1 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page2-img1 > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  opacity: 0;
}

.page2-img1 > canvas {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
}

.page2-img2 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page2-img2 > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  opacity: 0;
}

.page2-img2 > canvas {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
}

.page2-img3 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page2-img3 > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  opacity: 0;
}

.page2-img3 > canvas {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
}

.page2-content {
  position: relative;
  top: 0;
  height: 100vh;
  width: 55%;
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-family: mediumFont;
}

.page2-text {
  position: relative;
  height: 18.5vw;
  width: 100%;
}

.page2-text > h1 {
  font-size: 1.8vw;
  font-family: tesla;
  letter-spacing: 6px;
  font-weight: 100;
  margin-bottom: 3vw;
}

.page2-text-para {
  position: relative;
  height: 8vw;
  width: 100%;
}

.page2-text-para1 {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
}

.page2-text-para1 > p {
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
}

.page2-text-para1 > p > div {
  opacity: 0;
}

.page2-text-para2 {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
}

.page2-text-para2 > p {
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
}
.page2-text-para2 > p > div {
  opacity: 0;
}

.page2-text-para3 {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
}

.page2-text-para3 > p {
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
}
.page2-text-para3 > p > div {
  opacity: 0;
}

.page2-text > button {
  position: relative;
  padding: 0.8vw 2vw;
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 3.5vw;
  border-radius: 0.45vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.page2-speed {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 16vw;
}

.page2-circle {
  position: relative;
  height: 12vw;
  width: 12vw;
  border: 1px solid #31a93e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #31a93e;
}

.page2-circle > h1 {
  font-size: 3vw;
  font-weight: 500;
}

.page2-circle > h3 {
  font-weight: 100;
}

.page2-speed > h3 {
  margin-top: 1vw;
  font-size: 1.4vw;
  letter-spacing: 1px;
}

.page2-box {
  position: relative;
  height: 11vw;
  width: 100%;
  padding: 3vw 0;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  margin-top: 2vw;
  text-align: center;
}

.page2-box-elem > h1 {
  font-size: 2vw;
  height: 3vw;
  font-weight: 500;
}

.page2-box-elem > h3 {
  font-size: 1.2vw;
  font-weight: 100;
}

/* Page2 end */

/* Threejs model page start */

.threejs-models {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.models-name > h1 {
  position: absolute;
  top: 2.5%;
  left: 5%;
  color: #cccdcd;
  font-family: title;
  z-index: 1;
  font-size: 2vw;
  letter-spacing: 2px;
  opacity: 0;
}

.overlay-content {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  color: #cccdcd;
  font-family: title;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.overlay-text {
  position: relative;
  overflow: hidden;
}

.overlay-text > h1 {
  font-weight: 100;
  font-size: 3vw;
  letter-spacing: 1px;
}

.overlay-scroller {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: 12vw;
}

.overlay-line {
  position: relative;
  margin-top: 4.5vw;
  height: 8vh;
  width: 2px;
  background-color: #6a6a6a;
}

.overlay-scroller > i {
  margin-top: 0.5vw;
  font-size: 1vw;
  animation: upDown 2s infinite both linear;
}

@keyframes upDown {
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.overlay-scroller > p {
  font-size: 0.4vw;
  letter-spacing: 2px;
  margin-top: 0.2vw;
}

.overlay-video {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.model-transition{
  opacity: 0;
}

.color-picker {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

select {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.383);
  font-family: title;
  /* padding: 0vw 0.5vw; */
  color: #fff;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.model-change-box > option {
  color: #ffffff;
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.383);
}

.color-picker-elem {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.383);
  padding: 0.5vw;
}

.color-picker-elem > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.color-picker-elem:nth-child(1) > img {
  scale: 1.6;
}

.car-color {
  opacity: 0;
  /* display: none; */
}
.car-seat {
  opacity: 0;
  /* display: none; */
}
.car-rims {
  opacity: 0;
  /* display: none; */
}

.modelS {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Threejs model page end */

/* Page3 start */

#page3{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
#page3 #energy-container{
  position: relative;
  height: 61vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
#energy-container .circle3 h4{
  font-family: mediumfont;
  font-size: 2vw;
  font-weight: 500;
}
#energy-container #circle1{
  height: 45vh;
  width: 45vh;
  background-color: #31A93E;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 130%;
  left: 41%;
  transform: translate(-50%,-50%) scale(.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#energy-container #circle2{
  height: 45vh;
  width: 45vh;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 59%;
  transform: translate(-50%,-50%) scale(.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #31A93E;
}
#energy-text{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 1.7vw 3vw;
}
#energy-text h4{
  font-size: 3.2vw;
  font-weight: 500;
  color: #fff;
  font-family: mediumfont;
  text-transform: capitalize;
  line-height: .9;
}
#energy-container #energy{
  width: 210%;
  height: 100%;
  background: linear-gradient(to right,#31A93E 50%,#B2FEBB);
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 1vw;
  opacity: 0;
}
#energy-container #energy h1{
  color: #fff;
  font-size: 21vw;
  line-height: 1;
  font-family: title;
}

#solar-text{
  padding:1vw 3vw;
  padding-bottom: 4vw;
}
#solar-text h1{
  font-size: 5.5vw;
  font-weight: 500;
  font-family: title;
  line-height: 1;
}
#solar-container{
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  user-select: none;
  cursor: none;
} 

#solar-container::-webkit-scrollbar{
  display: none;
}
#solar-container .img-container{
  position: relative;
  flex-shrink: 0;
  width: 30vw;
  height: 100%;
  overflow: hidden;
}

#solar-container .img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: all ease 0.3s;
}
#solar-container .img-container:hover img{
  transform: scale(1.1);
}
#solar-container .img-container .solar-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.475);
  opacity: 0;
  transition: all ease 0.3s;
}
#solar-container .img-container:hover .solar-overlay{
  opacity: 1;
}

.solar-overlay .top-panel{
  width: 70%;
  height: 20%;
  background-color: #31A93E;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 1vw;
}
.solar-overlay .top-panel .arrow{
  width: 3.5vw;
  height: 3.5vw;
  overflow: hidden;
}
.solar-overlay .top-panel svg{
  height: 2.6vw;
  width: 2.6vw;
}
.solar-overlay .top-panel h3{
  color: #fff;
  font-family: title;
  text-transform: uppercase;
  font-size: 3vw;
  line-height: 1;
  font-weight: 500;
}

/* Page3 end */

/* Page5 start */

#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/images/page5.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#page5 #overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

#page5 #main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page5 #slide1 {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  color: #fff;
}

#page5 #slide1 h2 {
  font-family: title;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 5.5vw;
  font-weight: 500;
}

#page5 #slide1 h2 span {
  display: flex;
  align-items: center;
}

#page5 #slide1 h2 span i {
  font-size: 1.5vw;
  margin-top: 0.7vw;
  margin-right: 2vw;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* Page5 end */

/* Page6 start */

#page6 {
  position: relative;
  height: 140vh;
  width: 100%;
}

#page6 #section1 {
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0vw 3vw;
}

#page6 #section1 h1 {
  font-size: 5.5vw;
  font-weight: 500;
  font-family: heading;
  font-family: title;
}
#page6 #section1 #heading {
  overflow: hidden;
  margin-bottom: 1vw;
}

#page6 #section1 .section1-dis {
  overflow: hidden;
}
#page6 #section1 h3 {
  font-family: regularfont;
  font-size: 2.6vw;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

#page6 #section2 {
  width: 100%;
  height: 100.2vh;
  background-image: url(/images/page6_main.jpg);
  background-size: cover;
  padding: 2vw 3vw;
  display: flex;
}

#page6 #section2 .heading-sec2 {
  overflow: hidden;
}
#page6 #section2 .description {
  overflow: hidden;
}

#page6 #overlay {
  width: 100%;
  height: 100.2vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#page6 #section2 #main {
  z-index: 2;
  display: flex;
}

#page6 #section2 #left {
  width: 62%;
  display: flex;
  flex-direction: column;
}

#page6 #section2 #left #heading {
  margin-bottom: 2vw;
}
#page6 #section2 #left #heading h1 {
  font-size: 5.5vw;
  font-family: title;
  font-weight: 500;
  color: #fff;
}

#page6 #section2 #left #heading-3 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#page6 #section2 #left #heading-3 #line {
  width: 57%;
  height: 0.1vw;
  background-color: #fff;
  margin-top: 0.8vw;
}

#page6 #section2 #left h3 {
  font-family: lightfont;
  font-weight: 500;
  color: #fff;
  font-size: 2.6vw;
  line-height: 1;
}

#page6 #section2 #left button {
  position: relative;
  padding: 0.8vw 2vw;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 0.45vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  width: fit-content;
  cursor: pointer;
  margin-top: 2vw;
}

#page6 #section2 #left #button #text {
  height: 2vw;
  overflow: hidden;
}

#page6 #section2 #left #button #text h5 {
  font-size: 1.5vw;
  font-family: regularFont;
  color: #fff;
}

#page6 #section2 #left #button #arrow {
  width: 1.5vw;
  height: 1.5vw;
  overflow: hidden;
}

#page6 #section2 #left #button #arrow i {
  font-size: 1.8vw;
  color: #fff;
  display: inline-block;
}

#page6 #section2 #right {
  width: 38%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding-top: 8vw;
}

#page6 #section2 #right .card {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  background: linear-gradient
    (135deg, rgba(125, 125, 125, 0), rgba(169, 169, 169, 0));
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding-bottom: 2vw;
}

#page6 #section2 #right .card #image {
  width: 100%;
  height: 28vw;
  position: relative;
}

#page6 #section2 #right .card #image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page6 #section2 #right .card #heading {
  height: 2.6vw;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

#page6 #section2 #right .card #heading h3 {
  font-size: 2.6vw;
  line-height: 1;
  font-family: regularFont;
  color: #fff;
}

#page6 #section2 #right .card #description {
  height: 4vw;
  margin-top: -1.5vw;
  padding-left: 1vw;
}

#page6 #section2 #right .card #description h5 {
  font-size: 1.8vw;
  line-height: 1;
  font-family: lightFont;
  color: #fff;
}

/* Page6 end */

/* Page7 start */

#page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
#pg7-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3vw;
}
#pg7-text-container .tx-lf {
  width: 70%;
}
#pg7-text-container .tx-lf #head-wrap7 {
  height: 6vw;
  overflow: hidden;
  margin-bottom: 1vw;
}
#pg7-text-container .tx-lf h1 {
  font-family: title;
  font-size: 5.5vw;
  font-weight: 500;
}
#pg7-text-container .tx-lf .para-wrap7 {
  height: 2.6vw;
  overflow: hidden;
}
#pg7-text-container .tx-lf p {
  font-family: regularfont;
  font-size: 2.6vw;
  line-height: 1;
}
#pg7-text-container .tx-rt {
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
}
#pg7-text-container .tx-rt button {
  position: relative;
  padding: 0.8vw 2vw;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 0.45vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
}
#page7 #discovery {
  position: relative;
  height: 140vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 2vw;
}
#page7 #discovery #dis-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  background-color: black;
  transform-origin: top;
  transform: scale(0.36);
  clip-path: polygon(13% 0, 87% 0, 87% 100%, 13% 100%);
}
#dis-cursor ,#solar-cursor{
  height: 4.5vw;
  width: 4.5vw;
  position: fixed;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: mediumfont;
  font-weight: 900;
  z-index: 9;
  transform: translate(-50%,-50%) scale(0);
  pointer-events: none;
  mix-blend-mode: difference;
}
#solar-cursor{
  mix-blend-mode: normal;
}
#discovery #dis-text #container7 {
  position: relative;
}
#discovery #dis-text #container7 h1 {
  font-family: title;
  font-size: 50vw;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  margin-left: 5vw;
  margin-bottom: 2vw;
}
#container7 .ig7 {
  position: absolute;
  height: 21vw;
  width: 28vw;
  cursor: none;
}
#container7 .ig7 .overlay7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.325);
  backdrop-filter: blur(3px);
}

#container7 .ig7 .overlay7 h4 {
  color: #fff;
  font-size: 2vw;
  font-family: mediumfont;
  text-transform: capitalize;
  font-weight: 500;
}
#container7 .ig7 img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

#container7 #ig71 {
  top: 13%;
  left: 0.5%;
}
#container7 #ig72 {
  top: 50%;
  left: 21%;
}
#container7 #ig73 {
  top: 13%;
  left: 45%;
}
#container7 #ig74 {
  top: 50%;
  left: 75%;
}
#container7 #ig75 {
  top: 13%;
  left: 95%;
}
/* Page7 end */

/* footer start */

#footer {
  position: relative;
  height: 75vh;
  width: 100%;
  background-color: black;
}
#footer-pt1 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#footer-pt1 .foottxt-wrap {
  height: 2.2vw;
  overflow: hidden;
  cursor: pointer;
}
#footer-pt1 .foottxt-wrap span {
  display: inline-block;
}
#footer-pt1 h4 {
  font-family: regularfont;
  font-size: 2.2vw;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  line-height: 1;
}
#footer #line-ft {
  background-color: #fff;
  width: 25%;
  height: 1px;
}
#footer-pt2 {
  width: 100%;
  height: calc(75vh - 10vh);
  padding: 3vw;
}
#footer-pt2 #foot-video {
  position: relative;
  width: 100%;
  height: 100%;
}
#footer-pt2 #foot-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#foot-video #video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.166);
}
/* footer end */
