/* Fonts */

@font-face {
  font-family: tesla;
  src: url("/fonts/TESLA.ttf");
}

@font-face {
  font-family: title;
  src: url("/fonts/pigarnos-neue-regular.ttf");
}

@font-face {
  font-family: boldFont;
  src: url("/fonts/DarkerGrotesque-Bold.ttf");
}

@font-face {
  font-family: lightFont;
  src: url("/fonts/DarkerGrotesque-Light.ttf");
}

@font-face {
  font-family: mediumFont;
  src: url("/fonts/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("/fonts/DarkerGrotesque-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
*::selection {
  background-color: black;
  color: #fff;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set to the desired background color */
}

/* Customize scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust handle color and transparency */
  border-radius: 3px; /* Adjust border radius to match the design */
}

/* Optionally, add hover and active styles */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 35, 35, 0.7); /* Adjust handle color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 1); /* Adjust handle color on active state */
}

.inline-block {
  position: relative;
  display: inline-block;
}

/* Main css start */

#main {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Page1 start */

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: regularFont;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw;
  padding-top: 1vw;
  z-index: 9;
}

nav > h1 {
  font-family: tesla;
  font-weight: 100;
  font-size: 1.4vw;
  letter-spacing: 6px;
}

.tesla-title {
  position: relative;
  height: 1vw;
}

.nav-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 0.5vw 1.5vw;
  border-radius: 2vw;
  line-height: 1;
}

.nav-right > h3 {
  margin-bottom: 0.2vw;
}

.nav-right > button {
  padding: 0.5vw 1vw;
  border-radius: 2vw;
  border: none;
  color: #fff;
  background-color: #000;
}

.page1-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #0000003d;
}

.page1-overlay > video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.page1-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  height: 100%;
  backdrop-filter: blur(40px);
}

.page1-hero {
  position: relative;
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1-hero-text-vehicle {
  position: relative;
}

.page1-hero-text-vehicle > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-hero-text-energy {
  position: relative;
}

.page1-hero-text-energy > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-hero-text-charging {
  position: relative;
}

.page1-hero-text-charging > h1 {
  color: #fff;
  font-family: title;
  font-size: 3.6vw;
  font-weight: 100;
  letter-spacing: 5px;
}

.page1-vehicle {
  border-right: 2px solid #ffffff2c;
}

.page1-charging {
  border-left: 2px solid #ffffff2c;
}

/* Page1 end */

/* Page2 start */

#page2 {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

/* Page2 end */

/* Page3 start */

#page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/images/page3.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.page3-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #00000039;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3-first-circle {
  position: relative;
  height: 70vw;
  width: 70vw;
  border: 1px solid #ffffff7e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3-first-circle-rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  animation: page3-rotation 13s linear infinite both;
}

.page3-first-ball {
  position: absolute;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  transform: translate(-50%, -50%);
}

.page3-second-circle {
  position: relative;
  height: 45vw;
  width: 45vw;
  border: 1px solid #ffffff7e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3-second-circle-rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  transform: translate(-50%, -50%) rotate(40deg);
  animation: page3-rotation 13s -6s linear infinite both;
}

.page3-second-ball {
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  background-color: #31a93e;
  top: 0;
  transform: translate(-50%, -50%);
}

.page3-third-circle {
  position: relative;
  height: 25vw;
  width: 25vw;
  border: 1px solid #ffffff7e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3-third-circle-rotation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  animation: page3-rotation 13s -16s linear infinite both;
}

.page3-third-ball {
  position: absolute;
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background-color: #31a93e;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.page3-heading {
  position: relative;
  font-family: title;
  color: #fff;
  font-weight: 100;
  letter-spacing: 6px;
  font-size: 2.8vw;
}

@keyframes page3-rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Page3 end */

/* Page4 start */

#page4 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

#page4 #left {
  width: 50%;
  height: 100%;
}

#page4 #left .section {
  width: 100%;
  height: 20%;
  padding: 0vw 3vw;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #6A6A6A;
  position: relative;
}

#page4 #left .section #innerleft 
{
  display: flex;
  align-items: center;
  gap: 10px;
}

#page4 #left .section #innerleft #heading {
  width: 30vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

#page4 #left .section #innerleft #heading h3
{
  font-size: 2.8vw;
  color:  #6A6A6A;
  font-family: regularFont;
  text-transform: capitalize;
}

#page4 #left .section #innerleft #diamond{
  width: 0.9vw;
  height: 0.9vw;
  rotate: 45deg;
  margin-top: 0.5vw;
  background-color: #31A93E;
}

#page4 #right {
  width: 50%;
  height: 100%;
  background-image: url(./images/page4_1.png);
  background-size: cover;
  display: flex;
  align-items: end;
}

/* Page4 end */

/* Page5 start */

#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-top: 2vw;
  background-image: url(./images/page5.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#page5::-webkit-scrollbar {
  display: none !important;
  opacity: 0;
}

#page5 #marquee{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 1vw;
  white-space: nowrap;
}

#page5 #marquee .container {
  display: flex;
  align-items: center;
  gap: 1vw;
  animation: anime 2s linear infinite;
}

@keyframes anime {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100% - 1vw ));
  }
}

#page5 #marquee .container h1
{
  font-size: 5.5vw;
  font-weight: 500;
  font-family: title;
  color: #fff;
}

#page5 #marquee .container #square {
  width: 1vw;
  height: 1vw;
  background-color: #fff;
}

/* Page5 end */

/* Page6 start */

#page6 {
  position: relative;
  height: 130vh;
  width: 100%;
  background-image: url(./images/page6_main.jpg);
  background-size: cover;
}

#page6 #section1 
{
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0vw 4vw;
}

#page6 #section1 h1 {
  font-size: 5.5vw;
  font-weight: 500;
  font-family: heading;
  font-family: title;
}

#page6 #section1 h3 {
  font-size: 3.5vw;
  line-height: 3.5vw;
  font-family: lightFont;
  text-align: center;
}


/* Page6 end */

/* Page7 start */

#page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
#pg7-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3vw;
}
#pg7-text-container .tx-lf{
  width: 70%;
}
#pg7-text-container .tx-lf #head-wrap7{
  height: 6vw;
  overflow: hidden;
  margin-bottom: 1vw;
}
#pg7-text-container .tx-lf h1{
  font-family: title;
  font-size: 5.5vw;
  font-weight: 500;
}
#pg7-text-container .tx-lf .para-wrap7{
  height: 2.6vw;
  overflow: hidden;
}
#pg7-text-container .tx-lf p{
  font-family: regularfont;
  font-size: 2.6vw;
  line-height: 1;
}
#pg7-text-container .tx-rt{
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
}
#pg7-text-container .tx-rt #pg7-btn{
  color: #fff;
  background-color: black;
  font-family: mediumfont;
  text-transform: capitalize;
  padding: .8vw 2.5vw;
  font-size: 1.2vw;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: 5vw;
}
#page7 #discovery{
  position: relative;
  height: 140vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 2vw;
}
#page7 #discovery #dis-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  background-color: black;
  transform-origin: top;
  transform: scale(.36);
  clip-path: polygon(13% 0, 87% 0, 87% 100%, 13% 100%);
}
#discovery #dis-text #container7{
  position: relative;
}
#discovery #dis-text #container7 h1{
  font-family: title;
  font-size: 50vw;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  margin-left: 5vw;
  margin-bottom: 2vw;
}
#container7 .ig7{
  position: absolute;
  height:21vw;
  width: 28vw;
}
#container7 .ig7 .overlay7{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.325);
  transition: all ease 0.5s;
}
#container7 .ig7:hover .overlay7{
  backdrop-filter: blur(5px);
}
#container7 .ig7 .overlay7 h4{
  color: #fff;
  font-size: 2vw;
  font-family: mediumfont;
  text-transform: capitalize;
  font-weight: 500;
}
#container7 .ig7 img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

#container7 #ig71{
  top: 13%;
  left: .5%;
}
#container7 #ig72{
  top: 50%;
  left: 21%;
}
#container7 #ig73{
  top: 13%;
  left: 45%;
}
#container7 #ig74{
  top: 50%;
  left: 75%;
}
#container7 #ig75{
  top: 13%;
  left: 95%;
}
/* Page7 end */

/* footer start */

#footer {
  position: relative;
  height: 75vh;
  width: 100%;
  background-color:black;
}
#footer-pt1{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#footer-pt1 .foottxt-wrap{
  height: 2.2vw;
  overflow: hidden;
  cursor: pointer;
}
#footer-pt1 .foottxt-wrap span{
  display: inline-block;
}
#footer-pt1 h4{
  font-family: regularfont;
  font-size: 2.2vw;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  line-height: 1;
}
#footer #line-ft{
  background-color: #fff;
  width: 25%;
  height: 1px;
}
#footer-pt2{
  width: 100%;
  height: calc(75vh - 10vh);
  padding: 3vw;
}
#footer-pt2 #foot-video{
  position: relative;
  width: 100%;
  height: 100%;
}
#footer-pt2 #foot-video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#foot-video #video-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.166);
}
/* footer end */








